/obj/
/map/
/Software/
/weegschaal/
/SQL-BACKUP/
/Ontw/
/Werk/
*.*
!.gitignore
!*.build
!*.cwproj
!*.dct
!*.sln
!*.apv
!*.aff
!*.bat
!*.dbk
!*.ico
!*.dic
!*.manifest
!*.pr
!*.ver
!*.sql
!up_vcsettings.ini
!CA_Roots.prm
